(% extends 'template.html' %)

(% block content %)
<head>
    <title>Logg 로그인</title>
    <link rel="shortcut icon" href="(( url_for('static', filename='img/logo.png') ))">
    <link rel="stylesheet" href="(( url_for('static', filename='element.css') ))">
    <link rel="stylesheet" href="((url_for('static', filename='login/style.css') ))">
</head>
<body>
    <div id="root">
        <h1>로그인</h1>
    
        <div style="margin-top: 1vh;">
            <input type="text" placeholder="이메일" id="email" autofocus><br>
            <input type="password" placeholder="비밀번호" id="pw"><br>
        </div>
        
        <div style="margin-top: 1vh;">
            <button id="submit">로그인</button>
        </div>
    </div>
</body>

<script src="(( url_for('static', filename='login/index.js') ))" type="module"></script>
(% endblock %)