@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /*poppins*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins&display=swap'); /*noto*/
/* 기본 템플릿 */
body {
    margin: 0;
    background-color:#f2f2f2;
}
* {
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}
h1 {
    font-weight: 500;
    margin: 0;
}
p {
    margin: 0;
}
input, textarea, button {
    outline: 0;
}
textarea {
    resize: none;
}
::selection {
    background-color: #c7dfff;
}
.button {
    background-color: gray;
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 0px 1px;
    font-size: 1rem;
    border: none;
    border-radius: 100000000px;
    cursor: pointer;
}
.input {
    background-color: white;
    padding: 15px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10000px;
    width: 650px;
}
.unselect {
    padding: 10px;
    border: none;
    border-radius: 100000px;
    background-color:rgba(158, 158, 158, 0.3);
    backdrop-filter: blur(3px);
    color: black;
    width: 75px;
    text-align: center;
    margin-top: 4px;
    margin-right: 4px;
}
.select {
    padding: 10px;
    border: none;
    border-radius: 100000px;
    background-color:rgba(64, 156, 255, 0.5);
    backdrop-filter: blur(3px);
    color: black;
    width: 75px;
    text-align: center;
    margin-top: 4px;
    margin-right: 4px;
}


/*글쓰기*/
#writeDiv {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 650px;
    top: 50px;
}
#write {
    border: none;
    width: 650px;
    border-radius: 30px;
    height: 300px;
    font-size: 1.15rem;
    box-shadow: none;
    margin-top: 0px;
}
#writeCategory {
    display: inline-block;
    width: auto;
}
#tag {
    transition: 0.5s;
    margin-top: 5px;
}
#fileText {
    font-size: 1.1rem;
    margin: 10px 0px;
    margin-left: 7px;
}
@media only screen and (max-width : 600px) {
    #writeDiv {
        width: 300px;
    }
    #write {
        border: none;
        width: 300px;
        height: 200px;
    }
    #tag {
        width: 300px;
    }
}


/* 배너 */
#banner {
    background-color:#b3b3b3;
    color: white;
    padding: 7px 0px;
}
#search {
    background-color:#d4d4d4;
    border: none;
    position: absolute;
    padding: 10px;
    font-size: 1.05rem;
    border-radius: 100000000px;
    width: 350px;
    text-align: center;
    margin-top: 2px;
    left: 50%;
    transform: translateX(-50%);
}
@media only screen and (max-width: 600px) {
    #search {
        width: 150px;
    }
}
#mainImg {
    width: 40px;
    margin-left: 7px;
    margin-top: 3px;
}

#sign {
    position: absolute;
    right: 7px;
    font-size: 1.05rem;
    padding: 10px 20px;
    margin-top: 3px;
    transition: 0.5s;
}

#news {
    position: absolute;
    width: 45px;
    margin-top: 2px;
    right: 60px;
}

#profileImg {
    position: absolute;
    right: 10px;
    top: 11px;
    width: 40px;
    height: 40px;
    border-radius: 100000px;
    transition: 0.5s;
}
#profileOpt {
    position: absolute;
    right: 10px;
    top: 70px;
    z-index: 1;

    background-color: rgb(212, 212, 212);
    opacity: 0;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    visibility: hidden;
    transition: 0.5s;
    
    color: black;
    text-align: center;
}
#profileID {
    font-size: 1.5rem;
    margin-bottom: 7px;
}
/* 글 관련 속성들 */
.box {
    width: 600px;
    height: 170px;
    background-color: white;
    /*border: 1px solid #d9d9d9;*/
    border-radius: 30px;
    margin-top: 2vh;
    padding: 15px;
    height: auto;
    transition: 0.5s;
}
@media only screen and (max-width: 600px) {
    .box {
        width: 250px;
    }
}
.box:hover {
    box-shadow: 0px 0px 40px #e6e6e6;
}
#posts {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.postPicture {
    width: 500px;
    margin: 10px 0px;
}
@media only screen and (max-width : 600px) {
    .postPicture {
        width: 250px;
        height: 250px;
    }
}
.smallP {
    color: gray;
    font-size: 0.9rem;
    margin: 0;
}
.CommentInputDiv {
    margin-top: 2vh;
    margin-bottom: 5px;
}
.CommentInput {
    width: 79%;
    height: auto;
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 100px;
    border: none;
    background-color: #f2f2f2;
    transition: 0.5s;
    margin-right: 5px;
}
/*댓글*/
.commentDiv {
    padding: 10px;
    border-radius: 15px;
}
.commentWriter {
    color: gray;
    font-size: 0.9rem;
    margin: 0;
}
.commentPost {
    margin: 0;
}
/*박스 관련*/
.boxText {
    font-size: 1.1rem;
    margin: 0;
    margin-top: 5px;
}

/*글 속성*/
#postMenuDiv {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    transition: 0.5s;
    z-index: 1;
}
.postMenuDiv:hover {
    box-shadow: 0px 0px 20px #c9c9c9;
}
.postMenu {
    padding: 8px;
    background-color: white;
    text-align: center;
    width: 250px;
    font-size: 1rem;
    transition: 0.5s;
    margin: 3px 0px;
    border-radius: 5px;
}
.postMenu:hover {
    background-color: #f0f0f0;
}
#postMenuClose {
    width: 30px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

/*팝업*/
#popup {
    position: fixed;
    background-color: rgba(0, 106, 255, 0.8);
    color: white;
    top: 0px;
    text-align: center;
    padding: 12px 0px;
    width: 100%;
    font-size: 1.1rem;
    transition: 0.5s;
    opacity: 0;
    box-shadow: 0px 0px 8px gray;
    visibility: hidden;
}
#popupText {
    margin: 0;
    font-size: 1.1rem;
}
#popupBlack {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #c9c9c9;
    opacity: 0.85;
    z-index: 1;
}