@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); /* noto sans serif */
* {
    margin: 0;
    outline: 0;
    font-family: 'Arial', 'Noto Sans KR';
}

body {
    background-color: white;
}

input {
    background-color: white;
    padding: 11px;
    
    border: 1px solid #d9d9d9;
    border-radius: 5px;

    transition: 0.5s;

    margin: 3px;

    width: 200px;
}
button {
    background-color: #4f92ff;
    color: white;
    padding: 9px 27px;
    font-size: 0.9rem;

    border: none;
    border-radius: 5px;

}
input:focus {
    border: 1px solid #4da6ff;
}

button {
    background-color: #4592ff;
    color: white;

    border: none;
    border-radius: 10000px;

    padding: 10px 23px;
}