@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); /* noto sans serif */
* {
    margin: 0;
    outline: 0;
    font-family: 'Arial', 'Noto Sans KR';
}

body {
    background-color: white;
}

p {
    font-size: 0.9rem;
}

/* inputs */
input, textarea {
    background-color: white;
    
    border: 1px solid #d9d9d9;

    margin: 3px;
}
input {
    border-radius: 10000px;
    padding: 12px 15px;
}
textarea {
    border-radius: 17px;
    padding: 14px;
    resize: none;
}

button {
    background-color: #4f92ff;
    color: white;
    padding: 9px 27px;
    font-size: 0.9rem;

    border: none;
    border-radius: 5px;
}

input, button, select {
    outline: 0;
}