@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); /* noto sans serif */
* {
    margin: 0;
    outline: 0;
    font-family: 'Arial', 'Noto Sans KR';
    color: white;
}

body {
    background-color: #353742;
}

p {
    font-size: 0.9rem;
}

/* inputs */
input, textarea {
    background-color: #292a33;
    border: none;
    border-radius: 5px;

    margin: 3px;

    transition: 0.5s;
}
input {
    padding: 12px 15px;
    font-size: 0.9rem;
}
textarea {
    padding: 14px;
    resize: none;
}

button {
    background-color: #5eb1ff;
    color: white;
    padding: 12px 35px;
    font-size: 0.9rem;

    border: none;
    border-radius: 5px;

    transition: 0.3s;
}

input, button, select {
    outline: 0;
}