(% extends 'template.html' %)

(% block content %)
<head>
    <meta id="param" data-idx="(( idx ))" data-category="(( category ))">

    <link rel="stylesheet" href="(( url_for('static', filename='/project/settings/style.css') ))">
</head>
<body>
    <nav>
        (% for i in range(0, category|length) %)
            <div class="category" id="category(( i ))">
                <span>(( category[i] ))</span>
            </div><br>
        (% endfor %)
    </nav>

    <article>
        <div id="page0" hidden>
            <div class="menu">
                <h3>프로젝트 이름</h3>
                <input type="text" id="name" value="(( name ))">
            </div>

            <div class="menu">
                <h3>프로젝트 설명</h3>
                <input type="text" id="desc" value="(( desc ))">
            </div>
        </div>

        <div id="page1" hidden>
            <!-- <warning>트리 교체..!</warning> -->
            <input type="text" id="newTreeName"><button onclick="newTree()">트리 만들기</button>
        </div>
    </article>

    <!--프로젝트 사진-->
    <form action="/api/project/update/img/(( idx ))/" method="POST" enctype="multipart/form-data" id="imgDiv">
        <img src="/api/project/get/img/(( idx ))" alt="프로젝트 프로필" id="img" onclick="document.getElementById('imgFile').click();">
        <input type="file" id="imgFile" onchange="document.getElementById('imgSubmit').click()" name="img" hidden>
        <input type="submit" id="imgSubmit" hidden>
    </form>
</body> 
<script src="(( url_for('static', filename='/project/settings/index.js') ))"></script>
(% endblock %)