/* 기본 설정 */
body {
    margin: 0;
}
* {
    font-family: 'Arial', 'NanumSquare';
}
input {
    font-size: 1.1rem;
    border: none;
    padding-bottom: 7px;
    border-bottom: 1px solid #dbdbdb;
}
button {
    background-color: #4f92ff;
    color: white;
    padding: 10px 25px;
    font-size: 1rem;

    border: none;
    border-radius: 5px;

}
h1 {
    font-weight: 500;
    margin: 0;
}
input, textarea, button {
    outline: 0;
}

#root {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}