@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 기본 설정 */
body {
    margin: 0;
}
* {
    font-family: 'Arial', 'Noto Sans KR';
}
input {
    font-size: 1.1rem;
    border: none;
    padding-bottom: 7px;
    border-bottom: 1px solid #dbdbdb;
}

h1, p {
    font-weight: 500;
    margin: 0;
}
input, textarea, button {
    outline: 0;
}

#root {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#email {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}