@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 기본 설정 */
body {
    margin: 0;
}
* {
    font-family: 'Arial', 'Noto Sans KR';
}

h1, p {
    font-weight: 500;
    margin: 0;
}
input, textarea, button {
    outline: 0;
}

.formH1 {
    font-size: 2rem;
    margin-bottom: 1vh;
}
.formInput {
    margin-bottom: 1vh;
    width: 240px;
}

#root {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#verify {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}